@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  --accent: #2563eb;

  --nav-bg: rgba(255,255,255,0.8);
  --nav-boder: rgba(0,0,0,0.6);
  --nav-shadow: 0 4px 20px rgba(0,0,0,0.6);

}


.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #6366f1;

  --nav-bg: rgba(10,10,10,0.5);
  --nav-boder: rgba(255,255,255,0.1);
  --nav-shadow: 0 0px 80px rgba(99,102,241,0.25);
}


.glass-nav {
  @apply fixed top-6 left-1/2 -translate-x-1/2
  w-[90%] max-w-3xl
  rounded-full
  backdrop-blur-md
  bg-black/40
  border border-white/10
  z-50;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent: #6366f1;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
